/*
Any comments in the css are usually useless. The webkit inspector in Google Chrome or Safari is much more useful for digesting css
Firefox nightly has a nice inspector as well.
*/
body {
	background: #ddd;
}
header {
	background: black;
	height: 50px;
}
header .header-center {
	text-align: center;
	color: white;
	font: bold 26px Consolas, monospace;
	padding-top: 8px;
}
#content {
	background: #aaa;
	width: 800px;
	margin: 0px auto;
	position: relative;
}
.input-container {
	background: #555;
	margin: 0 0px 0 0px;
}
.game {
	position: relative;
	box-shadow: 0 0 10px 5px rgba(0,0,0,.3);
	z-index: 10;
}
.game-output {
	margin: 0px 0px 0px 0px;	
	border: 1px solid black;
	border-top: 0px;
	border-bottom: 0px;
	background: #333;
	color: white;
	padding: 5px;
	font: bold 14px Consolas, monospace;
	height: 400px;
	overflow-y: auto;
}
.game-output span.command {
	color: #BFFF00;
}
#text-input {
	border: 1px solid black;
	border-top: 1px solid #555;
	background: #333;
	background: url(../img/right-caret.png) no-repeat;
	background-position:  0px 2px;
	width: 788px;
	margin: 0;
	padding: 0px;
	font: bold 18px Consolas, monospace;
	color: #BFFF00;
	padding-left: 10px;
}

/* Buttons */
.game-buttons {margin: 10px 0 0 0; float: right;}
.game-buttons .button {
	display: inline;
	font: bold 14px Consolas, monospace;
	background: #aaa;
	border: 1px solid black;
	padding: 3px;
}
.game-buttons .button:hover {
	cursor: pointer;
	background: #777;
}

/* INFO BOX */
.game-info {
	position: absolute;
	width:215px;
	height: 350px;
	top: 20px;
	right: -215px;
	z-index: 5;
}
.game-info .infobox {
	background: #bbb;
	width:200px;
	height: 350px;
	border: 1px solid black;
	border-left: none;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 5;
}
.game-info .slider-button {
	background: #999;
	height: 51px;
	width: 15px;
	position: absolute;
	top: 150px;
	right: -2px;
	font: bold 14px Consolas, monospace;
	border: 1px solid black;
	border-left: none;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	z-index: 15;
}
.game-info .slider-button:hover { cursor: pointer;}
.game-info .slider-button span {
	position: relative;
	left: 3px;
}
.game-info .infobox .tab-buttons {
	width: 166px;
	margin: 0px auto;
}
.game-info .infobox .tab-buttons .tab-button {
	display: inline;
	font: bold 14px Consolas, monospace;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	margin: 0 0 0 -4px;
	padding: 0px 2px 2px 2px;
	text-decoration: none;
	color: black;
}
.game-info .infobox .tab-buttons .tab-button:first-child {
	border-left: 1px solid black;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
}
.game-info .infobox .tab-buttons .tab-button:last-child {
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}
.game-info .infobox .tab-buttons .tab-button:hover {
	cursor: pointer;
}
.game-info .infobox .tab-buttons .tab-button.active {
	background: #999;
}
.game-info .infobox .tabs {

}
.game-info .infobox .tabs .tab {
	display: none;
	font: bold 14px Consolas, monospace;
	padding: 10px;
}
.game-info .infobox .tabs .tab.active{
	display: block;
}
.game-info .infobox .tabs .tab .command{
	display: block;
	color: #006600;
}
